@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Frijole');


//* ------------ Palette of colours -------* //

$blue: #09c;
$green: #093 ;
$golden: goldenrod;
$red: rgba(255,29,37,0.7);
$yellow: rgba(252,238,33,0.7);
$purple: mediumpurple;
$black: black;


body {
    position: relative;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Frijole', cursive;
    font-size: 4em;
}

h3 {
    font-size: 2em;
    font-weight: bold;
}

p , ul, caption {
    font-size: 1.2em;
}

a:hover {
    text-decoration: none;
}

/* ----- NaV ----- */
nav {
    background-color: rgba(0,0,0,0.4) !important;
}
.navbar a {
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar a:hover {
    font-weight: bold;
    font-size: 2em;
}

#blue-nav {
    color: $blue;
    font-weight: bolder;
    font-size: 2em;
}

#green-nav {
    color: $green;
}

#golden-nav {
    color: $golden;
}

#red-nav {
    color: red;
}
#yellow-nav {
    color: yellow;
}
#purple-nav {
    color: $purple;
}

#black-nav {
    color: white;
}

//* --------------- HEADER ------------ //
#about h1 {
    color: white;
    text-align: center;
    margin-top: 15vh;
    font-size: 2.5em;
    font-family: 'Sigmar One', cursive;
    padding: 10px;
}

#about h1:hover {
    color: $blue;
    letter-spacing: 2px;
    font-size: 3em;
    font-weight: bolder;
    content: "Hello";
}


#about {
    background-image: url("../img/about-background-3.gif");
    background-size: cover;
    height: 90vh;
    background-position: center;
    
    
}



// ----------- Background -----------
#background {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23c6c1ce' fill-opacity='0.1'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); 
    
}


// ----------------- ODIGEO ---------------- // 

#odigeo-container {
    text-align: center; 
    padding: 20px;
}

#odigeo-container .col-md-3 {
border: solid;
border-width:5px;
border-color: white !important;
 
}
#odigeo-container a {
    color: black;
}



#odigeo-container .thumbnail {
    background-color: white;
    // margin: 10px;
    // padding: 10px;
    border: solid;
    border-color: black;
    border-width: 1px;
    min-height: 450px;
    
}

/* odigeo container pod */ 


#odigeo-container button {
    background-color: #09c;
    color: white;
    padding: 10px 30px;
}
 #odigeo-container button:hover {
    background-color: white;
    color: #09c;
    font-weight: bold;
}

#odigeo {
    background-color: #09c;
    padding-top: 30px;
     border-radius: 30px;   
}
.odilogo {
    max-width: 50% !important;
}

/* edreams pod */ 
#edreams {
    background-color: #039;
    padding-top: 10px;
    border-radius: 30px;
}

#edreams button {
    background-color: #039;
    color: white;
    padding: 10px 30px;
}
 #edreams button:hover {
    background-color: white;
    color: #039;
    font-weight: bold;
}

/* opodo pod */

 
#opodo {
    background-color: #f60;
    padding-top: 10px;
    border-radius: 30px;
}

#opodo button {
    background-color: #f60;
    color: white;
    padding: 10px 30px;
}
 #opodo button:hover {
    background-color: white;
    color: #f60;
    font-weight: bold;
}


/* govoyages pod */
#govoyages {
    background-color: rgb(165, 205, 56);
    padding-top: 10px;
    border-radius: 30px;
}

#govoyages button {
    background-color: rgb(165, 205, 56);
    color: white;
    padding: 10px 30px;
}
 #govoyages button:hover {
    background-color: white;
    color: rgb(165, 205, 56);
    font-weight: bold;
}

/* travellink */

 
#travellink {
    background-color: #338695;
    padding-top: 10px;
    border-radius: 30px;
}

#travellink button {
    background-color: #338695;
    color: white;
    padding: 10px 30px;
}
 #travellink button:hover {
    background-color: white;
    color: #338695;
    font-weight: bold;
}





// ----------------- WORK ---------------- // 

#work {
    text-align: center; 
}

#work .col-md-4 {
border: solid;
border-width:10px;
border-color: white !important;
 
}
#work a {
    color: black;
}



#work .thumbnail {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border: solid;
    border-color: black;
    border-width: 1px;
    
}

#odigeo {
    background-color: #09c;
    padding-top: 30px;
     border-radius: 30px;   
}
.odilogo {
    max-width: 50%;
}


#aguafy {
    background-color: #09c;
    padding-top: 30px;
     border-radius: 30px;
}

#aguafy h3 {
    color: $blue;
    font-weight: bolder;
}

#aguafy button {
    background-color: #09c;
    color: white;
    padding: 10px 30px;
}
 #aguafy button:hover {
    background-color: white;
    color: #09c;
    font-weight: bold;
}

#playbusiness {
    background-color: #9c3;
    padding-top: 30px;
    border-radius: 30px;
}

#playbusiness h3 {
    color: #9c3;
    font-weight: bolder;
}

#playbusiness button {
    background-color: #9c3;
    color: white;
    padding: 10px 30px;
}
 #playbusiness button:hover {
    background-color: white;
    color: #9c3;
    font-weight: bold;
}

#faro {
    background-color: goldenrod;
    padding-top: 30px;
    border-radius: 30px;
}

#faro h3 {
    color: goldenrod;
    font-weight: bolder;
}

#faro button {
    background-color: goldenrod;
    color: white;
    padding: 10px 30px;
}
 #faro button:hover {
    background-color: white;
    color: goldenrod;
    font-weight: bold;
}

// ------------------ LAB ------------------ // 

#lab {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
#lab img {
    margin-left: auto;
    margin-right: auto;
    
}

.lab-border {
    border: solid;
    border-color: $red;
    width: 100%;
    padding: 20px 60px 20px 60px;
    border-radius: 30px;
    border-width: 50px 20px 10px 20px;
    
}
.responsive img:hover {
    border: solid;
    border-color: red;
}

.responsive {
    font-weight: bold;
    color: $red;
    font-size: 1.2em;
}

/* ---- Carousel LAB-----*/

.responsive {
    border:solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5%;
    padding: 15px;
    background-color: white;
}
.responsive img {
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
}
.slick-prev{
    background-color: black !important;
    border-radius: 50% !important;
    height: 5vh !important;
    width: 5vh !important;
    padding: 5px;
    font-size: 20px !important;
    z-index: 1;
    }

.slick-next{
    background-color: black !important;
    border-radius: 50% !important;
    height: 5vh !important;
    width: 5vh !important;
    padding: 5px;
    text-align: right;
    }

.slick-dots li.slick-active button:before {
    color: red !important;
}

// -------------- SERVICES  --------------- 


.services-border {
    border: solid;
    border-color: $yellow;
    border-width: 50px 20px 10px 20px;
    padding: 20px;
    border-radius: 30px;
    
}

#services .col-md-4 {
  margin-bottom: 20px;
  text-align: center;
}
#services h2 {
  font-weight: normal;
}

#services p, ul {
    text-align: justify;
}
#services .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

#services i {
    font-size: 4em;
    height: 140px;
    width: 140px;
    border: solid;
    border-color: yellow;
    border-radius: 50%;
    padding: 40px;
    color: yellow;
    background-color: black;   

}

#services .thumbnail {
    padding: 10px;
    /*background-color: rgba(230,230,230,1);*/
    border: solid;
    border-color: black;
    border-width: 1px;
    
}

#services a {
    background-color: yellow;
    color: black;
    border-color: black;
    margin-top: 5px;
    margin-bottom: 1px;
}
#services a:hover {
    background-color: white;
    color: black
}

/* -- BLOG -- */
.blog-border {
    border: solid;
    border-color: $black;
    border-width: 50px 20px 10px 20px;
    padding: 20px;
    border-radius: 30px;
    
} 




#blog {
    button {
        color: white;
        background-color: $black;
        padding: 10px 30px;
    }
    button:hover {
        color: black !important ;
        background-color: white;
    }
    a {
        text-decoration: none;
        color: $black;
        
    }
    article {
        margin: auto;
        padding: 10px;
        border: 5px solid grey;
    }
    article:hover {
        border-color: black;
    }
}
#blog-white {
    color: white !important;
}
#blog-white:hover {
    color: $black !important;
}

/* --------- CONTACT ------ */

.contact-border {
    border: solid;
    border-radius: 30px;
    border-color: mediumpurple;
    border-width: 50px 20px 10px 20px;
}

#contact i {
    margin: 4px;
    color: mediumpurple;
}

#contact i:hover {
    color: black;
    background-color: mediumpurple;
    
}
   
#contact p {
    color: mediumpurple;
    font-size: 20px;
    font-weight: bold;
}

#download-CV {
    font-size: 3em;
    font-weight: bold;
    display: block;
    border: solid;
    border-width: 3px;
    color: mediumpurple;
    width: 50%;
    margin: auto;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

#download-CV:hover {
    color: white;
    background-color: mediumpurple;
    text-decoration: none;

}

/* ----- footer  --- */

footer {
    background-color: rebeccapurple;
    text-align: right;
    color: white;
    padding: 5px;
    
}
